-provide(:title, 'Pokemon Index')
%p#notice= notice
%h1= yield(:title)
%table.table.table-condensed.datatable
  %thead
    %tr
      %th Name
      %th Weight
      %th Order
      %th
      %th
      %th
  %tbody
    - @pokes.each do |poke|
      %tr
        %td= poke.name
        %td= poke.weight
        %td= poke.order
        %td= link_to 'Show', poke
        %td= link_to 'Edit', edit_poke_path(poke)
        %td= link_to 'Destroy', poke, method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'New Poke', new_poke_path
