<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poke.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @poke.weight %>
</p>

<p>
  <strong>Order:</strong>
  <%= @poke.order %>
</p>

<%= link_to 'Edit', edit_poke_path(@poke) %> |
<%= link_to 'Back', pokes_path %>
