%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title= page_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand Pokes Page
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to 'Home', pokes_path
            %li= link_to 'placeholder', '#'
            %li.dropdown
              %a.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#', :role => 'button'}
                dropdown placeholder
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'placeholder2', '#'
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'About', static_pages_about_path
            %li= link_to 'Contact', static_pages_contact_path
    .container
      = yield
